.container{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    background-color: rgb(5, 5, 41);
    color: white;
  }
  #box
  {
    border: 2px solid green;
    height: 30px;
    color: white;

  }
  select
  {
    background-color: rgb(6, 6, 159);
    color: white;
  }
  select:hover{
    background-color: blue;
  }
 
  
 
  body
  {
    background-color: blue;
  }