.container{
    height: 500px;
    width: 500px;
    border: 3px solid rgb(126, 16, 97);
    background-color: rgb(194, 61, 154);
    color: white;
    border-radius: 10px;
  }
  #box
  {
    border: 3px solid green;
    height: 30px;
    color: white;
    border-radius: 5px;

  }
  select
  {
    background-color: rgb(6, 6, 159);
    color: white;
  }
  select:hover{
    background-color: blue;
  }
  #temperature
  {
    outline: none;
  }
 
  
 
  body
  {
    background-color: rgb(215, 202, 202);
  }